<!--To Include Header File-->
<%- include("partials/header"); -%>
    <h1>Holiday</h1>
    <p>
      19-07-2020
    </p>
     <p>
       <!--To add content from app.js -->
       <%= startingContent1 %>
     </p>

     <h1>Assignment Submission</h1>
     <p>
       25-07-2020
     </p>
      <p>
        <!--To add content from app.js -->
        <%= startingContent2 %>
      </p>
  <!--
    for(var i=0;i<posts.length;i++) {
       console.log(posts[i].title);
     };  -->

     <% posts.forEach(function(post){ %>
       <h1><%= post.title %></h1>
       <p><%= post.date %></p>
       <p><%= post.content %></p>
     <% }) %>



<!--To Include Footer File-->
<%- include("partials/footer"); -%>
